<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Balance</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<!--header-->
<header class="main-header">
    <div th:replace="/fragments/header"></div>
</header>
<!--end header-->

<!--content-->

<form class="text-form">
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-2" class="col-form-label">Field2</label>
            <div class="col-auto field field-2">
                <input type="text" id="inputField-2" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-3" class="col-form-label">Field3</label>
            <div class="col-auto field field-3">
                <input type="text" id="inputField-3" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-4" class="col-form-label">Field4</label>
            <div class="col-auto field field-4">
                <input type="text" id="inputField-4" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-11" class="col-form-label">Field11</label>
            <div class="col-auto field field-11">
                <input type="text" id="inputField-11" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-18" class="col-form-label">Field18</label>
            <div class="col-auto field field-18">
                <input type="text" id="inputField-18" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-19" class="col-form-label">Field19</label>
            <div class="col-auto field field-19">
                <input type="text" id="inputField-19" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-22" class="col-form-label">Field22</label>
            <div class="col-auto field field-22">
                <input type="text" id="inputField-22" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-23" class="col-form-label">Field23</label>
            <div class="col-auto field field-23">
                <input type="text" id="inputField-23" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-25" class="col-form-label">Field25</label>
            <div class="col-auto field field-25">
                <input type="text" id="inputField-25" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-32" class="col-form-label">Field32</label>
            <div class="col-auto field field-32">
                <input type="text" id="inputField-32" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-35" class="col-form-label">Field35</label>
            <div class="col-auto field field-35">
                <input type="text" id="inputField-35" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-36" class="col-form-label">Field36</label>
            <div class="col-auto field field-36">
                <input type="text" id="inputField-36" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-37" class="col-form-label">Field37</label>
            <div class="col-auto field field-37">
                <input type="text" id="inputField-37" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-41" class="col-form-label">Field41</label>
            <div class="col-auto field field-41">
                <input type="text" id="inputField-41" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-42" class="col-form-label">Field42</label>
            <div class="col-auto field field-42">
                <input type="text" id="inputField-42" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-43" class="col-form-label">Field43</label>
            <div class="col-auto field field-43">
                <input type="text" id="inputField-43" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-45" class="col-form-label">Field45</label>
            <div class="col-auto field field-45">
                <input type="text" id="inputField-45" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-49" class="col-form-label">Field49</label>
            <div class="col-auto field field-49">
                <input type="text" id="inputField-49" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-52" class="col-form-label">Field52</label>
            <div class="col-auto field field-52">
                <input type="text" id="inputField-52" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-55" class="col-form-label">Field55</label>
            <div class="col-auto field field-55">
                <input type="text" id="inputField-55" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-60" class="col-form-label">Field60</label>
            <div class="col-auto field field-60">
                <input type="text" id="inputField-60" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <label for="inputField-128" class="col-form-label">Field128</label>
            <div class="col-auto field field-128">
                <input type="text" id="inputField-128" class="form-control"
                       aria-describedby="passwordHelpInline">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!--end content-->

<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.bundle.js"></script>
</body>
</html>